h1, h2 {
color:#0168da;}

.item { 
color:white;
font-weight:bold;
font-size:small;
white-space: nowrap;
padding:2px 6px 2px 6px;
border-radius:2px; }

/* https://htmlcolorcodes.com/fr/tableau-de-couleur/ */
/* Actionneurs carte : rouge*/
.led { 
background-color:#F07E7E; }

/* capteurs carte : gris bleu*/
.buttons {
background-color:#85929E; }
.accelerometer {
background-color:#5D6D7E; 
}

/* capteurs grove : bleus*/
.grove_light { 
background-color:#a7bad6 ; }
.grove_potentiometre { 
background-color:#89a4c8  ; }
.grove_distance { 
background-color:#6c8dba; }

/* # 4e76ad 315f9f 134891 */
/* actionneurs grove :bruns*/

.grove_led { 
background-color:#f5cba7; }
.grove_neopixel { 
background-color:#f0b27a; }
.grove_digit { 
background-color:#eb984e; }
.grove_speaker { 
background-color:#e67e22; }


